{% extends "vaxcharts/base.html" %}


{% block content %}

    <div class="container">
        <h1>Vaccination Coverage</h1>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-9">
              {{ div | safe }}
           </div>
            <div class="col-md-2">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit" />
                </form>
            </div>
        </div>
        <p>*Data from CDC National Immunization Survey-Child</p>
        <p>*Shaded area represents the 95% confidence interval</p>

      <hr>
        {% include "vaxcharts/includes/footer.html" %}
    </div> <!-- /container -->
    
{{ script | safe }}
{% endblock %}

