{% extends "vaxcharts/base.html" %}


{% block content %}

    <div class="container">
    <div class="jumbotron">
        <h1>Vax Trends</h1>
        <p>Come here for charts and information regarding vaccination coverage in children age 19-35 months and incidence rates of vaccine-preventable diseases in the United States.</p>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <blockquote>
            Every year the Centers for Disease Control and Prevention publish data about vaccination coverage and incidence rates of nationally notifiable infectious diseases. 
            </blockquote>
            <blockquote>
            The following pages illustrate the estimated vaccination coverage in children age 19-35 months in the US. This means the percentage of children who have received appropriate doses for a given vaccine. To understand what the appropriate dose and recommended vaccines are, please see the linked immunization schedule published by the CDC. 
            </blockquote>
            <blockquote>
            Also included are charts showing the incidence rate of specific vaccine-preventable diseases (VPDs) per 100,000 population. These are based on the reported cases published by the CDC in the Morbidity and Mortality Weekly Report as well as the population estimates published by the US Census Bureau.
            </blockquote>
       </div>
        <div class="col-md-2">
        </div>
      </div>

      <hr>
        {% include "vaxcharts/includes/footer.html" %}
    </div> <!-- /container -->
    

{% endblock %}

